body {
	background-color: #F1EEEA
}

h1.title {
	font-family: sans-serif;
}

h2.subtitle {
	font-family: sans-serif;
}

p {
	font-family: sans-serif;
}

a.button {

}

a.button:link {
	text-decoration:none;
}

a.tabButton {

}

a.tabButton:link {
	text-decoration:none;
}