@import url(http://fonts.googleapis.com/css?family=Quantico:700,400);

body {
	background-color: #F1EEEA
}

h1.title {
	font-family: 'Quantico', sans-serif;
	text-align: center;
	font-size: 300%;
	margin-bottom: 10px;
}

h2.subtitle {
	font-family: 'Quantico', sans-serif;
	font-weight: 700;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 40px;
}

div.index-text {
	width: 500px;
    margin: 20px;
    padding: 20px;
}

p {
	font-family: sans-serif;
}

a.button {
	font-size: 150%;
	text-align: center;
	border: 2px solid;
	padding: 10px;
	color: white;
	background-color: #000066;
	border-color: #000066;
	border-radius: 4px 4px 4px 4px;
}

a.button:hover {
	background-color: #6666A3;
	border-color: #6666A3;
}

a.button:link {
	text-decoration: none;
}

a.tabButton {
	border: 1px solid;
	padding: 4px;
}

a.tabButton:link {
	text-decoration: none;
}

ul.tabBar {
	list-style-type: none;
}

ul.tabBar li {
	display: inline;
}
