@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300italic);

p {
	font-family: "Source Sans Pro";
	font-weight: 400;
	font-size: 120%;
	margin: 10px 10px 10px 10px;
}


h2 {
	font-family: "Source Sans Pro";
	font-weight: 300;
	font-style: italic;
	text-align: center;
	font-size: 200%;
}